Repository Black-Tek/BlackTek-Server, pull requests merged in 2025-04, with the labels that each got.

#119 Moved stages.xml to /config/stages.toml
  config/stages.toml
  src/configmanager.cpp
Labels: C++, Toml

#120 Added old "absorbs" values into items.xml via augments
  data/augments/defaultItems.toml
  data/items/items.xml
Labels: Toml

#121 Cancel Messages in Party System
  src/game.cpp
Labels: Feature, C++

#122 issue-104: fix autoCloseContainers bahavior
  src/player.cpp
Labels: C++

#125 Move mounts xml to toml
  config/mounts.toml
  data/XML/mounts.xml
  data/XML/stages.xml
  src/game.cpp
  src/mounts.cpp
  src/mounts.h
Labels: C++, Toml, Code Quality

#128 Changed items.xml to items.toml
  data/items/fluids/fluids.toml
  data/items/items.toml
  data/items/items.xml
  src/item.cpp
  src/items.cpp
  src/items.h
  src/monsters.cpp
  src/otserv.cpp
Labels: C++, Toml, Code Quality
